body
{
   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgbLoiaAUF2m1TG4_uybnsAyP6uxA2wV452w&usqp=CAU ' );
  background-repeat: no-repeat;
  background-size:110%;
}
p{
    color: rgb(0, 0, 0);
}